<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="motor">
            <h2><span jhiTranslate="equiposApp.motor.detail.title">Motor</span> {{ motor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="equiposApp.motor.codigo">Codigo</span></dt>
                <dd>
                    <span>{{ motor.codigo }}</span>
                </dd>
                <dt><span jhiTranslate="equiposApp.motor.estado">Estado</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'equiposApp.Estado.' + motor.estado }}">{{ motor.estado }}</span>
                </dd>
                <dt><span jhiTranslate="equiposApp.motor.marca">Marca</span></dt>
                <dd>
                    <span>{{ motor.marca }}</span>
                </dd>
                <dt><span jhiTranslate="equiposApp.motor.marca">Marca</span></dt>
                <dd>
                    <div *ngIf="motor.marca">
                        <a [routerLink]="['/marca', motor.marca?.id, 'view']">{{ motor.marca?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/motor', motor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
